@tailwind base;
@tailwind components;
@tailwind utilities;

.blue__gradient {
    background: linear-gradient(180deg, #081B29 0%, #0B2539 100%);
}

.lightblue__gradient {
    background: linear-gradient(90deg, #399AC4 0%, #FFF 100%);
}

.effect-blur {
    backdrop-filter: blur(10px);
}