@tailwind base;
@tailwind components;
@tailwind utilities;

.blue__gradient {
    background: linear-gradient(180deg, #081B29 0%, #0B2539 100%);
}

.lightblue__gradient {
    background: linear-gradient(90deg, #399AC4 0%, #FFF 100%);
}

.black__gradient {
    background: linear-gradient(180deg, #010101 0%, #081B29 100%);
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0) rotate(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-2px) rotate(-6deg);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(2px) rotate(6deg);
    }
}

.shake-indicator {
    animation: shake 5s cubic-bezier(.36, .07, .19, .97) infinite;
}